/* การแจ้งเตือน */
.notification {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.notification:last-child {
  border-bottom: none;
}

.notification.new {
  background-color: #e6f7ff;
  border-left: 4px solid #1890ff;
  padding-left: 10px;
}

.notification-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.notification-title-text {
  color: #1890ff;
  margin-right: 20px;
}

.notification-time {
  color: #999;
}

.notification-content {
  color: #555;
}