.upload-img {
    width: 360px;
    height: 200px;
    border-radius: 5px;
    color: var(--dark-grey-color);  /* เปลี่ยนสีของ content ข้างใน ในที่นี้คือ Icon กับ Font */ 
    background-color: var(--grey-input);
    margin: 0 0 18px 0 ;
    display: flex;  /* Enable Flexbox */
    flex-direction: column;  /* ทำให้ content ข้างในแบ่งเป็น column */
    justify-content: center;  /* Center items แนวตั้ง */
    align-items: center;  /* Center items แนวนอน */
    cursor: pointer;
}
.form-input {
    background-color: var(--grey-background);
    border-radius: 30px;
    padding: 8px 13px 8px 13px; /* บน ขวา ล่าง ซ้าย */
    margin: 0 0 10px 10px; /* บน ขวา ล่าง ซ้าย */
    font-size: 16px;
    width: 80%;
    flex-direction: inline;
}
.form-option {
    border: solid 1px var(--grey-color);
    border-radius: 30px;
    padding: 8px 13px 8px 13px;
    margin: 0 0 10px 10px;
    font-size: 16px;
    font-family: inherit;
    color: var(--dark-grey-color);
}