.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid var(--grey-color);
    border-radius: 4px;
}

.search-button {
    padding: 10px 20px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.results-container {
    width: 75%;
    height: calc(100vh); 
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
}

.results-table th, .results-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--grey-color);
}
.results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.results-table td {
    color: #333;
}

.results-table td:nth-child(4) {
    color: green; /* Color for online status */
}

