/* src/Sidebar.css */

.sidebar {
    width: 215px;
    height: 100vh;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: var(--grey-color);
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    margin-top: 10px;
    color: var(--grey-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li.active {
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 26px;
}

.sidebar ul li:hover {
    background-color: #e0e7ff;
    color: #007bff;
    border-radius: 8px;
}

.sidebar ul li svg {
    margin-right: 10px;
}

.sidebar.collapsed ul li svg {
    margin-right: 0;
}

.sidebar.collapsed ul li {
    justify-content: center;
}

.sidebar-logout-button {
    margin-top: auto;
    width: 100%;
    padding: 10px 20px;
    background-color: #ff4b4b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-logout-button:hover {
    background-color: #ff7878;
}

.sidebar.collapsed .sidebar-logout-button {
    display: flex;
    justify-content: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.expanded {
        width: 200px;
    }

    .sidebar.collapsed {
        width: 60px;
    }

    .sidebar ul li {
        font-size: 14px;
    }

    .sidebar ul li svg {
        margin-right: 5px;
    }

    .sidebar-logout-button {
        padding: 8px 16px;
    }

    .sidebar .toggle-button {
        font-size: 20px;
    }

    .sidebar .fw-5.fs-24.text-blue {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 50px;
    }

    .sidebar.expanded {
        width: 150px;
    }

    .sidebar.collapsed {
        width: 50px;
    }

    .sidebar ul li {
        font-size: 12px;
    }

    .sidebar ul li svg {
        margin-right: 3px;
    }

    .sidebar-logout-button {
        padding: 6px 12px;
    }

    .sidebar .toggle-button {
        font-size: 18px;
    }

    .sidebar .fw-5.fs-24.text-blue {
        font-size: 18px;
    }
}
