@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500&display=swap');

:root{
  --red-color: #ff4b4b;
  --dark-red-color: #F46666;
  --dark-blue-color: #007bff;
  --blue-color: #64A2FF;
  --light-blue-color-border: #afcfff;
  --light-blue-color: #e3eeff;
  --black-color: #000000;
  --white-color: #fff;
  --dark-grey-color: #777777;
  --grey-color: #B2B2B2;
  --grey-input: #eeeeee;
  --grey-background: #F5F5F5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  background-color: var(--grey-background);
}
body{
  font-size: 16px;
  font-family: 'IBM Plex Sans Thai';
  color: var(--black-color);
}
.container {
  display: flex;
}
.main-content {
  flex-grow: 1; /* Make this section take up the remaining space */
  overflow-y: auto;
  background-color: #f4f4f4; /* Light background to contrast with sidebar */
}

/* resets */
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--black-color);
}
img{
  width: 100%;
  display: block;
}
input{
  border: none;
  outline: 0;
  font-family: inherit;
}
/* backgrounds */
.bg-white{background-color: var(--white-color);}
.bg-light-grey{background-color: var(--grey-background);}

/* text */
.text-center{text-align: center;}
.text-black{color: var(--black-color);}
.text-blue{color: var(--dark-blue-color);}
.text-dark-grey{color: var(--dark-grey-color)}
.text-white{color: var(--white-color);}

/* font weights */
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

/* font sizes */
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}
.fs-24{font-size: 24px;}
.fs-26{font-size: 26px;}
.fs-60{font-size: 60px;}

/* letter spacing */
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

.flex{
  display: flex;
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.flex-sb{
  justify-content: space-between;
}
.flex-c{
  justify-content: center;
}
.grid{
  display: grid;
}

/* Button */
.blue-button {
  font-family: inherit;
  font-size: 15px;
  color: var(--white-color);
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  padding: 8px 13px;
  border-radius: 20px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.red-button {
  font-family: inherit;
  font-size: 15px;
  color: var(--red-color);
  background-color: var(--white-color);
  border: 1px solid var(--red-color);
  padding: 8px 13px;
  border-radius: 20px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}