.menu-manager-container {
    display: flex;
}

.menu-manager {
    display: flex;
    padding: 20px;
    width: 100%;
}

/* กล่องกลาง (กล่องใส่ menu list) */

.menu-list-container {
    width: 1266px;
    background-color: var(--white-color);
    padding: 20px;
}

/* Menu list */

.add-menu-list {
    width: 200px;
    height: 195px;
    background-color: #B2B2B2;
    border: 1px solid #B2B2B2;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s, border-color 1s;
    display: flex;  /* Enable Flexbox */
    flex-direction: column;  /* Align items in a column */
    justify-content: center;  /* Center items vertically */
    align-items: center;  /* Center items horizontally */
}

.add-menu-list.selected {
    background-color: var(--blue-color);
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.menu-item {            /* กล่องแสดงเมนูแต่ละอัน */
    width: 200px;
    border: 1px solid #ddd;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--white-color);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 1s, border-color 1s; /* transition effect สำหรับ background และ border color ตามลำดับ*/
}

.menu-item.selected {
    border: 1px solid var(--light-blue-color-border);
    background-color: var(--light-blue-color);
}

.menu-item img {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* กล่องขวามือ (กล่องแสดง Detail ของ Menu ที่เราจิ้มเข้าไปดู */

.menu-details {
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    margin-left: 20px;
    position: relative;  
}

.menu-details img {
    width: 360px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin: 18px 0 18px 0 ;
}

.size-button {
    font-family: inherit;
    font-size: 15px;
    background-color: var(--white-color);
    border: 1px solid #ddd;
    padding: 8px 13px;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.ingredient-ul {
    list-style-type: disc;
    padding-left: 24px;
}


/* จัดเรียงปุ่มทางกล่องขวามือให้อยู่ด้าน */

.menu-action-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* สามตัวล่างนี้เป็นเหมือนการบอกให้น้องอยู่ในจุดที่ห่างจาก ล่าง ซ้าย ขวา เท่าไร (ก็คือเรากำหนดตาม padding ที่อยู่ใน .menu-details ได้เลย :D ) */
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.edit-button {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    padding: 8px 13px;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.delete-button {
    font-family: inherit;
    font-size: 15px;
    color: var(--red-color);
    background-color: var(--white-color);
    border: 1px solid var(--red-color);
    padding: 8px 13px;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

/* 

.add-new-menu-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 20px;
    top: 50px;
    width: 300px;
    z-index: 10;
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-button,
.cancel-button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
} */